body {
    background-color: black;
    color: white;
    font-family: "VT323", monospace;
}

.top-row {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

.cube-container {
    margin-right: 2rem;
}

a{
    color: white;
}