body{
    font-family: "VT323", monospace;
    background-color: black;
    color: white;
}

.contact-header{
    text-align: center;
}

a{
    color: white;
}

.section{
    border-bottom: 1px solid white;
}