body {
    background-color: black;
    color: white;
    font-family: "VT323", monospace;
}

.cursor {
    animation: blink 1s step-end infinite;
}

@keyframes blink {
    from, to { opacity: 0; }
    50% {opacity: 1;}
}